@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 1.5rem 'Nunito', sans-serif;
  min-height: 100vh;

  background-color: #475569;
  background-image: radial-gradient(#fff, #474747);

  display: flex;
  flex-direction: column;
}

header,
nav,
main,
footer {
  display: grid;
  place-content: center;
  grid-template-columns: 100%;
  text-align: center;
}

header,
nav,
footer {
  background-color: #475569;
  color: white;
}

header,
footer {
  position: sticky;
}

header {
  top: 0;
}

nav {
  background-color: #fff;
  color: #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

main {
  flex-grow: 1;
}

footer {
  bottom: 0;
}

@media screen and (min-width: 450px) {
  body {
    background-color: green;
    background-image: radial-gradient(white, green);
  }
  nav {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  body {
    background-color: gold;
    background-image: radial-gradient(white, gold);
  }
}

@media screen and (min-width: 992px) {
  body {
    background-color: firebrick;
    background-image: radial-gradient(white, firebrick);
  }
}
@media screen and (min-width: 1080px) {
  body {
    background-color: rebeccapurple;
    background-image: radial-gradient(white, rebeccapurple);
  }
}
