*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container{
    padding: 2rem;
    margin: 2rem;
    border: 5px double red;
    outline: 5px solid purple;
    outline-offset: -14px;
}

.circle{
    background-color: yellow;
    margin: 3rem auto;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    outline: 2px solid black;
    outline-offset: 2px;
    border-radius: 50px;
}