@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.nowrap {
  white-space: nowrap;
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}

body {
  font: 1.5rem "Nunito", sans-serif;
  min-height: 100vh;
  background-color: #475569;
  background-image: radial-gradient(whitesmoke, #475569);
  display: flex;
  flex-direction: column;
}
header,
footer {
  position: sticky;
  background-color: #1e293b;
  color: whitesmoke;
  text-align: center;
}

header {
  top: 0;
}

nav {
  background-color: white;
  border-bottom: 2px solid #000;
  padding: 0.5rem;
  display: flex;
  justify-content: space-evenly;
}
nav a,
nav a:active {
  color: #000;
  font-weight: bolder;
}
nav a:hover,
nav a:focus {
  color: #333;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  flex-grow: 1;
  gap: 1.5rem;
}
.card {
  scroll-margin-top: 8rem;
  border: 2px solid #000;
  border-radius: 15px;
  display: flex;
  background-color: #cbd5e1;
  flex-direction: column;
  align-items: center;
  width: min(100%, 350px);
  padding: 1rem;
}
.card figure {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.card figcaption {
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
  margin: 1rem;
}
.card img {
  border: 5px double #333;
  border-radius: 50%;
}
footer {
  bottom: 0;
}

/* || SMALL */
@media screen and (min-width: 576px) {
  .card {
    width: min(100%, 400px);
  }
  main {
    flex-flow: row wrap;
    justify-content: center;
  }
  .card:last-child {
    order: -1;
  }
}
@media screen and (min-width: 768px) {
  .card {
    width: min(100%, 325px);
  }
  .card figure {
    flex-flow: column-reverse;
  }
  nav {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .card {
    width: (100%, 400px);
  }
  .card:nth-child(2) {
    order: -1;
  }
}
@media screen and (min-width: 1200px) {
  .card {
    width: min(calc(33% - 1rem), 500px);
  }
}
@media screen and (max-height: 425px) and (min-aspect-ratio: 7/4) {
  h1 {
    font-size: 1.5rem;
  }
  .card {
    width: min(calc(33% - 0.25rem), 200px);
  }
  main {
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: stretch;
  }
  .card figcaption,
  .card p {
    font-size: 1.25rem;
  }
  nav {
    display: none;
  }
}
