@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/* || RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* || FONT */
  --FF: "Nunito", sans-serif;
  --FS: clamp(1.75rem, 3vh, 2.25rem);
  --FS-SM: clamp(1.25rem, 2vh, 1.5rem);
  --FS-XL: 3rem;

  /* || COLORS */
  --BGCOLOR: #475569;
  --LIGHT-COLOR: whitesmoke;
  --RADIAL-COLOR: whitesmoke;
  --DARK-COLOR: #000;
  --ALT-COLOR: #1e293b;
  --SHADOWS: 0 6px 5px -5px var(--DARK-COLOR);
  --BORDERS: 2px solid var(--DARK-COLOR);

  /* || GENERAL STYLES */
  --PADDING: 0.5em;

  /* || SQUARE */
  --SQUARE-BGCOLOR: papayawhip;
  --SQUARE-WIDTH: max(150px, 20vw);
}

@media (prefers-color-scheme: light) {
  :root {
    --BGCOLOR: #000;
    --ALT-BGCOLOR: #333;
    --RADIAL-COLOR: rgb(217, 217, 217);
    --SQUARE-BGCOLOR: rgb(202, 174, 202);
  }
}

/* || GENERAL STYLES */
body {
  font: var(--FS) var(--FF);
  min-height: 100vh;

  background-color: var(--BGCOLOR);
  background-image: radial-gradient(var(--RADIAL-COLOR), var(--BGCOLOR));
  display: flex;
  flex-direction: column;
}

header,
nav,
footer {
  display: grid;
  place-content: center;
  grid-template-columns: 100%;
  width: 100%;
  text-align: center;
}

header,
footer {
  position: sticky;
  background-color: var(--ALT-COLOR);
  color: var(--LIGHT-COLOR);
}

header {
  top: 0;
}

nav {
  background-color: var(--LIGHT-COLOR);
  color: var(--DARK-COLOR);
  border-bottom: var(--BORDERS);
  box-shadow: var(--SHADOWS);
}

main {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 300px));
  padding: var(--PADDING);

  gap: min(2vw, 20px);
 /*  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start; */
}
.content{
    margin-top: 1.5rem;
}
.tooltip{
    border-bottom: 1px dotted orange;
    position: relative;
}
.tooltip:hover::before{
    content: attr(data-tooltip);
    position: absolute;
    white-space: nowrap;
    top: -20px;
    background-color: var(--DARK-COLOR);
    border-radius: 15px;
    padding: var(--PADDING);
}
main section{
    flex-grow: 1;
    padding: var(--PADDING);
}
a:any-link{
    color: firebrick;
}
a:hover, a:focus{
    filter: brightness(1.5);
    /* filter: opacity(0.6); */
    /* filter: hue-rotate(180deg); */
}
main aside{
    padding: var(--PADDING);
    background-color: hsla(0, 0%, 20%, 0.8);
    color: var(--LIGHT-COLOR);
    font-size: var(--FS-SM);
}
.square--highlight {
  --SQUARE-BGCOLOR: cornflowerblue;
}
.square {
  background-color: var(--SQUARE-BGCOLOR);
  display: grid;
  place-content: center;
/*   width: var(--SQUARE-WIDTH);
  height: var(--SQUARE-WIDTH); */
  border: var(--BORDERS);
  border-radius: 15px;
  font-size: var(--FS-XL);
  box-shadow: var(--SHADOWS);
}

footer {
  bottom: 0;
}
@media screen and (min-width: 576px){
    main{
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    section{
        width: calc(70% - 5px);
    }
    aside{
        width:calc(30% - 1px)
    }
    
}
