body{
    font-size: 2rem;
    width: 50%;
}
ol{
    list-style: none;
}
ul{
    text-align: right;
    list-style: square inside;

}
ul li:nth-child(1){
    color: red;
}
ul li:nth-child(even){
    color: green;
}
ul li:nth-last-child(1){
    color: yellow;
}
::marker{
    content: "say what";
}
