*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Roboto",sans-serif;
    font-size: 1.5rem;
    min-height: 200hv;
    
}
/* .outer-container{
    border: 3px dashed #000;
    width: 75vw;
    height:85vh;
    margin: 40px auto;
    position: relative;
}
.inner-container{
    border: 2px solid #00f;
    width: 40vw;
    height: 50vh;
    margin: 200px auto;
    
}
.box{
    width: 150px;
    height: 150px;
    padding: 1rem;
    color: #fff;
}
.absolute{
    background-color: #00f;
    position: absolute;
    top: 0px;
    left: -11111px;
    z-index: 2;
}
.relative{
    background-color: #f00;
    position: relative;
    top: -190px;
    left: 210px;
}
.fixed{
    background-color: green;
    position: fixed;
    top: 200px;
    z-index: 1;
}
.sticky{
    background-color: #000;
    position: sticky;
    top: 10px;
    left: 0px;
} */
section{
    height: 100vh;
}
.blue{
    background-color: #00f;
}
.red{
    background-color: #f00;
}
.green{
    background-color: green;
}
header, footer{
    color: #fff;
    text-align: center;
    height: 100px;
    
}
header{
    position: sticky;
    top: 0px;
    font-size: 5rem;
}
footer{
    background-color: #333;
    position: fixed;
    bottom: 0px;
    width: 100vw;
    font-size: 3rem;
}
a:visited{
    color: #fff;
}
.social{
    background-color: royalblue;
    position: fixed;
    z-index: 1;
    top: 30%;
    left: 0px;
    font-size: inherit;
}